.block-editor-media-placeholder__url-input-form {
	min-width: 260px;

	@include break-small() {
		width: 300px;
	}
}

.block-editor-media-placeholder__url-input-form__input {
	/* rtl:ignore */
	direction: ltr;
}
